{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h3 style="max-width: 650px;">
      {{ .Params.subheading }}
    </h3>
    <p>
      {{ .Params.description }}
    </p>

    <p style="max-width: 500px;">I build robust, well-tested and secure applications for the web. In my free time, I <a href="https://www.librarything.com/profile/swopnil" target="_blank"> read books</a>, mountain bike, write blog posts, and <code>code.</code></p>
    <p style="max-width: 500px;"><small>If you would like to reach me securely, <a href="https://swopnil.com/pgp" target="_blank">encrypt</a> your message with this <a href="https://keybase.io/swopnil/pgp_keys.asc?fingerprint=a530a5ed4c7985a1fa4fa32db38677b5c56e8796" target="_blank".>PGP key</a> and send it to <code>secure @ swopnil.com</code> </small></p>
    {{ partial "social-icons.html" .}}
    
  </div>
</div>

{{ end }}
